*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.pdb
*.laccdb
*.pfx

/CharacterSheetCreator
/Character Builder/CSharp/Solipstry Character Creator/Solipstry Character Creator/bin
/Character Builder/CSharp/Solipstry Character Creator/Solipstry Character Creator/obj
/Character Builder/CSharp/Solipstry Character Creator/Solipstry Character Creator/publish
/Character Builder/CSharp/Solipstry Character Creator/Solipstry Character Creator/publish.zip