<ion-view view-title="Spells">
  <ion-content>
    <h2 id="spells-western-">Spells</h2>
<p><strong>Reading a Spell**</strong>:** A spell will say first whom it targets. Spells
that target you or an adjacent creature do not provoke opportunity
attacks, only those that target a creature within X squares provoke.</p>
<p>Spells that target all creatures include both friend and foe.
Conversely, spellcasters can choose whom to include in a spell that
targets allies or enemies.
 When a spell says Miss: half damage, any creature missed by the attack
takes ½ of the damage a creature hit would have taken (as always, round
down)</p>
<p>The range of a school of magic is equal to 2 times the modifier of that
school. So a character that has a Destruction score of 25 has a
Destruction range of 4. Range is measured in squares.</p>
<p>Burst n indicates that a spell affects an area that is n x n in size.
The center of the burst must be in range. For example, burst 3 within a
Destruction Range of 5 means that the spell will affect 9 squares, a 3x3
block, the center of which is no more than 5 squares from the caster.</p>
<p>Blast n indicates a spell that affects an area n x n in size that
originates adjacent to that caster. For example, a blast 3 spell would
target 9 squares, 3x3 in size, with at least one square adjacent to the
caster.
 Sustain: 30 means that in order to continue an effect granted by a
spell, a character must expend 30 magic points during each turn
following the turn in which the spell was initially cast. 
Sustain minor means that a character must expend his/her minor action in
order to sustain the effects of a spell each turn after the spell is
cast.</p>
<p>Sustaining as a minor action counts as the one action allotted for a
dazed creature, but sustaining (number) does not. A creature must be
conscious and able to take actions in order to sustain. <strong>Sustaining
never grants a tally.</strong></p>
<p>If a character reaches zero magic points due to having the points
drained or by over casting, that character is stunned (save ends). The
character continues to regain magic points during this period.
<em>**</em>Improved versions of spells do not replace the lower version; either
can be cast.</p>
<p>See the glossary entry for Conjuration (page 112) for rules regarding
conjured creatures.</p>
<p>Below is a table listing all spells, their cost, school, prerequisites,
effects, and a brief description of what they do.</p>

<p><img src="Solipstry_html_m766ac840.jpg" alt=""></p>

<p><strong>Spell Flavor:</strong>Feel free to change the flavor of any spell. What reads
thunder in one setting may become sonic in another. If it says fire, you
can change it to leaf blades, radiation, animal bones, or whatever your
GM approves!</p>
<p>
</p>








<p><strong>Note to GMs:</strong>if spells are naturally cast by a just thought, power
words are not for your campaign. If they typically require wands, orbs,
computers, or other scientific equipment, elaborate gestures, jigs, or
incantations, perhaps you want to consider them. The intent is to make
spells which players are familiar with faster, easier, and more readily
available than the standard procedure in a setting.</p>
<p>
</p>




<p><strong>Metamagic</strong></p>
<p><em>**</em>Some spells have no school listed, but instead say [meta]. These
spells belong in no school, as they affect how magic itself works. A
prerequisite of Meta (number) means that you need a score of that number
in one of the four magic schools to learn and use that spell. Whenever
you are eligible to learn a new spell in a specific school, you may
instead choose to learn a metamagic spell for which you meet the
requirements. The spell will be treated as if it were a spell from that
school. The score, modifier, and range of that spell will be of the
school in question, and if the spell is successful, you will get a tally
in whichever school you choose to treat the spell as.</p>
<p>For example, if Cap’n Elirando “Randy” Bloodsmith decides to take
Channel Magic instead of the one Alteration spell that his 13 in
Alteration grants him, Channel Magic will be use 13 to determine the
modifier, and whenever Randy casts Channel Magic, he will gain a tally
in Alteration.</p>
<p><strong>Long Casting</strong></p>
<p>While most spells are cast instantaneously, some spells (such as sunder)
take multiple rounds to cast. When such a spell is used, the cost of the
spell is immediately subtracted from the caster’s total points, and the
caster is stunned and dispelled until the indicated duration, and then
the spell is cast. If the target takes damage or chooses to stop
casting, the spell is interrupted, but the cost of the spell is still
lost.</p>
<p><strong>Power Words</strong>
 With the Power Word series of Talents, a character can bind a spell to
a word so that whenever the word is spoken by them, the spell is cast at
its normal cost for them plus an additional 20 magic points. If the
caster has not spent a standard action this round, the spell is cast
instantly every time the word is spoken, even if the points are not
available. A character who casts a spell will sacrifice his or her next
standard action. A character spending points without having them
available will still be affected by the normal rules. A character may
not use Power Words to cast spells more frequently than they would
otherwise be able to cast them. If a Word is spoken when a character is
unable to cast a spell [because they are stunned or have already cast
this round], the spell will be cast when the character is next able to
cast it. For example, if Nairomin, the technomancer, has &quot;bleep&quot; as a
power word tied to Empulse I, and he says it at the end of his turn,
after he has moved forward to meet the charging robots, the effects of
Empulse I will resolve at the start of his next turn. Alternatively, if
Nairomin has “Shefflehorn” attached to a shield spell, and has not taken
a standard action this round, Nairomin can sacrifice his next standard
action to immediately cast shield in front of an enemy’s projectile.
This allows spellcasters to subtly manipulate the initiative order.</p>
<p><strong>Regeneration:</strong>When regenerating hit points, magic points,
Enlightenment points, or anything else, you may never exceed your
maximum capacity.</p>
<p>
</p>
<p><strong>Because of these limitations, Power Words should be chosen so that
spells are not bound to words used in everyday conversation. With
training [and the Power Word II Talent], characters can learn to control
whether or not a spell is cast when speaking a Power Word. Some
characters [those who have taken Power Word III] can activate a spell
bound to their word when that word is spoken by someone else they can
hear. Spells cannot be bound to more than one word, though a character
may have several different spells bound to different words. No word may
be bound to more than one spell. Players should avoid binding spells to
homophones; only the exact word will activate a spell. If my word is
“no”, which is a bad idea, as it is too common, “know” will not let me
cast a spell.</strong></p>

<p><strong>Name</strong></p>
<p><strong>Cost</strong></p>
<p><strong>School</strong></p>
<p><strong>Prerequisites</strong></p>
<p><strong>Effects</strong></p>
<p><strong>Flavor</strong></p>
<p>Alter Mind</p>
<p>25</p>
<p>Alteration</p>
<p>6All Spells</p>
<p>You gain a bonus to your next Interaction check made 
before the end of your next turn equal to your Alteration modifier.</p>
<p>Entering your adversary&#39;s mind, you subtly shift his thoughts so he
views things your way... The *right* way.</p>
<p>Alter Self</p>
<p>100</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>Turn into one nonmagical object of your size such as a tree, bush,
cabinet, or rock. While in this form, you cannot use items, move, or
speak. Sustain Standard.</p>
<p>Watch out for well-hydrated mammals.</p>
<p>Antidote</p>
<p>20</p>
<p>Restoration</p>

<p>The effects of a poison (including ongoing poison damage) are ended on
you or one adjacent ally.</p>
<p>You summon energy to purge the filth of poison from the body.</p>
<p>Armor</p>
<p>100</p>
<p>Conjuration</p>
<p>Conjuration 40, Shield</p>
<p>You gain a +6 bonus to all defenses and saving throws (sustain 45)</p>
<p>Glowing energy appears around you, forming to your body in a protective
shell.</p>
<p>Attunement</p>
<p>***</p>
<p>Meta</p>

<p>Using this power simultaneously activates highest version that you know
of the following: Speed, Aura and Barrier. The cost of this spell is 20
plus 50%of the total cost it would have taken to cast each of the
activated spells individually.</p>
<p>In a sudden moment of clarity, you know exactly what must be done, and
how to do it. The knowledge makes adrenaline course through you, slowing
and softening the world around you.</p>
<p>Aura</p>
<p>70</p>
<p>Conjuration</p>

<p>You gain a +2 bonus to all defenses and saving throws (Sustain 40)</p>
<p>You call forth a shimmering shield to deflect the blows aimed your way.</p>
<p>Barrier</p>
<p>90</p>
<p>Conjuration</p>
<p>Conjuration 30</p>
<p>You gain resist 10 damage to all melee attacks (sustain 50)</p>
<p>You create a thick, resistant armor with a viscous consistency around
yourself.</p>
<p>Battle Focus</p>
<p>80</p>
<p>Restoration</p>
<p>Restoration 40</p>
<p>For the next three rounds, your melee damage die increases by one, and
you gain a +2 to attack and saving throws.
While this effect persists, you and allies adjacent to you gain
regeneration 5.</p>
<p>You steel your mind and focus on ending your enemies as soon as
possible.</p>
<p>Battle Rage</p>
<p>125</p>
<p>Alteration</p>
<p>Alteration 40</p>
<p>While this effect lasts, you gain a plus 2 to all attack rolls,
regeneration equal to (2 times your Alteration modifier), and cannot be
slowed, dazed, or stunned. Your melee or unarmed damage die increases by
one. This bonus increases by 1 for each hostile creature you kill during
this state, for a maximum of +6. (Sustain 60). Note: this power does not
end the slowed, dazed, or stunned conditions.</p>
<p>Channeling the rage, the lust for battle that would overcome most men,
you transform into a beast of anger, ignoring heinous wounds, and making
every strike count.</p>
<p>Bloodlust Frenzy</p>
<p>130</p>
<p>Alteration</p>
<p>Alteration 40</p>
<p>Choose a bloodied ally within your Alteration range. That ally can score
a critical hit on a 19 or 20. This effect ends when the ally is no
longer bloodied, or if they become knocked unconscious.</p>
<p>Dying men oft strike true.</p>
<p>Bone Spikes</p>
<p>35</p>
<p>Conjuration</p>
<p>Conjuration 30</p>
<p>Make an attack vs. Fortitude against one creature you can see within
your Conjuration range. If the attack hits, the target is slowed and
takes ongoing 5 damage (save ends both).</p>
<p>Small caltrops start growing in your enemy’s flesh, piercing and tearing
whenever it moves.</p>
<p>Breath Control</p>
<p>275</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>You or an adjacent creature do not need to breathe for five minutes.</p>
<p>You concentrate on your breathing for a moment, slowing it to a stop.</p>
<p>Call Fog</p>
<p>35</p>
<p>Conjuration</p>

<p>You and all creatures within three squares of you are blinded while
within three squares of you (sustain 15).</p>
<p>A mist descends from the sky, shielding all within the radius.</p>
<p>Channel Magic</p>
<p>50</p>
<p>Meta</p>
<p>[Meta] 30, Magic Affinity</p>
<p>Roll a d10 and add in your school modifier. For that many rounds, the
following effects occur: you regain an extra fifteen magic points at the
start of your turn, the damage multiplier for all your Destruction
spells increases by 1, and you gain a +2 to all saving throws.</p>
<p>You direct your thoughts on recharging and empowering your magic.</p>
<p>Choke</p>
<p>125</p>
<p>Destruction</p>
<p>Destruction 40, Injure</p>
<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If that attack hits, the target is stunned and
takes ongoing damage equal to half your Destruction score (save ends
both).</p>
<p>Most creatures need to breathe. Few have discovered a more effective way
of preventing it.</p>
<p>Cleanse</p>
<p>35</p>
<p>Restoration</p>
<p>Restoration 20</p>
<p>Remove all status effects from yourself or one creature you are
touching.</p>
<p>“Be purged, friend!”</p>
<p>Combust</p>
<p>25</p>
<p>Destruction</p>

<p>You make a small explosion in 1 cubic foot within your Destruction
range, igniting any flammable material in the target area.</p>
<p>“Step away from the cow!”</p>
<p>Conceal</p>
<p>45</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>An object you are touching becomes invisible. The object becomes visible
10 seconds after you cease to sustain it. You must be touching the
object to sustain the spell (sustain 20).</p>
<p>“Now you see it…”</p>
<p>Conjure Armor</p>
<p>80</p>
<p>Conjuration</p>
<p>Conjuration 20</p>
<p>You conjure armor that gives you a bonus to AC equal to your Conjuration
modifier. (Sustain 40)</p>
<p>Truly, only the most foolish of men lug pounds of metal around all day.</p>
<p>Conjure Hand</p>
<p>70</p>
<p>Conjuration</p>
<p>Conjuration 50</p>
<p>You conjure a hand in your square capable of wielding any one-handed
weapon or shield. If the hand is wielding a weapon, you can tell the
hand to attack with that weapon as a minor action (using your
Conjuration skill). If it is holding a shield, you gain a +1 bonus to
your AC.</p>
<p>Fighting beside you, as if it were your own, a lone hand, striking,
defending.</p>
<p>Conjure Messenger</p>
<p>50</p>
<p>Conjuration</p>

<p>You conjure a tiny creature such as a carrier pigeon. It can carry one
pound of weight and will travel to any location you know within (your
Conjuration modifier) miles.</p>
<p>“If he’s alive, he’ll come for us soon.”</p>
<p>Conjure Mount</p>
<p>90</p>
<p>Conjuration</p>

<p>You conjure a mount that can carry (10 x your Conjuration modifier)
pounds and that has a movement of (2 + your Conjuration modifier).
(Sustain 50 points per hour). When the mount is no longer sustained, it
vanishes, and anything that was on it falls to the ground.</p>
<p>“You mean you can <em>buy</em> horses?”</p>
<p>Conjure Shield</p>
<p>60</p>
<p>Conjuration</p>

<p>You conjure a shield that gives you a bonus to AC equal to your
Conjuration modifier. You must have an open hand to wield this shield
(Sustain 40).</p>
<p>A glowing shield illuminates your body, protecting from oncoming blows.</p>
<p>Conjure Weapon</p>
<p>50</p>
<p>Conjuration</p>
<p>Conjuration 30</p>
<p>You conjure a weapon that gives you a bonus to attack and has a damage
multiplier both equal to your Conjuration modifier. This weapon cannot
be augmented and you must have a free hand to wield it (Sustain 30).
Only you can wield this weapon.</p>
<p>Appearing unarmed one moment, a glowing sword of energy materializes in
your hand the next.</p>
<p>Conjure Wings</p>
<p>75</p>
<p>Conjuration</p>
<p>Conjuration 50</p>
<p>You grow wings and gain flight equal to your movement until the end of
your next turn. You must land at the end of your turn or you fall.
(sustain 45)</p>
<p>Magical wings appear out of your back.</p>
<p>Crush</p>
<p>55</p>
<p>Destruction</p>

<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If the attack hits, the target takes damage
equal to 1d10 times your Destruction modifier.</p>
<p>Pressure flows from your hands, compressing your opponent’s body.</p>
<p>Curtain Of Fire</p>
<p>150</p>
<p>Destruction</p>
<p>Destruction 30, Fireballs</p>
<p>Make an attack vs. Reflex against each creature burst 1 within 5. Each
creature hit with the attack takes fire damage equal to 1d6 times your
Destruction modifier.</p>
<p>Enemies are best served crispy.</p>
<p>Death Field</p>
<p>150</p>
<p>Restoration</p>
<p>Restoration 70, Drain Life</p>
<p>Make an attack vs. Fortitude against each living enemy you can see
within your Restoration range. Each enemy hit takes damage equal to 1d4
times your Restoration modifier. (Miss: half damage). You regain hit
points equal to 2 times the greatest amount of damage dealt to a single
target.</p>
<p>A low whining hum emanates from the air around you as a glowing sphere
expands outward from you, growing bright while stealing the lives of
your foes.</p>
<p>Debris Slam</p>
<p>60</p>
<p>Conjuration</p>

<p>Make an attack vs Reflex against one creature you can see within your
Conjuration modifier. If the attack hits, the target takes damage equal
to 1d8 times your Conjuration Modifier.</p>
<p>“Take THIS clump of garbage and THAT clump of garbage!”</p>
<p>Deflection</p>
<p>100</p>
<p>Conjuration</p>
<p>Conjuration 40</p>
<p>You cannot be hit by Ranged attacks (sustain 40). This does not provide
immunity to spells.</p>
<p>“What archers?”</p>
<p>Demoralize I</p>
<p>30</p>
<p>Alteration</p>

<p>Make an attack vs. Will against each enemy you can see within your
Alteration range. Each enemy hit takes a -1 penalty to attack rolls and
saving throws (save ends).</p>
<p>You call your enemy a mean name. He&#39;s a little sad.</p>
<p>Demoralize II</p>
<p>45</p>
<p>Alteration</p>
<p>Alteration 30, Demoralize I</p>
<p>Make an attack vs. Will against each enemy you can see within your
Alteration range. Each enemy hit takes a -2 penalty to attack rolls and
saving throws. (save ends).</p>
<p>You make a hurtful joke about your enemy&#39;s heritage. He is quite upset.</p>
<p>Demoralize III</p>
<p>70</p>
<p>Alteration</p>
<p>Alteration 40, Demoralize II</p>
<p>Make an attack vs. Will against each enemy you can see within your
Alteration range. Each enemy hit takes a -3 penalty to attack rolls and
saving throws and is weakened (save ends all).</p>
<p>You make a jab at your enemy&#39;s family. He starts to cry a bit.</p>
<p>Demoralize IV</p>
<p>90</p>
<p>Alteration</p>
<p>Alteration 50 , Demoralize III</p>
<p>Make an attack vs. Will against each enemy you can see within your
Alteration range. Each enemy hit takes a -4 penalty to attack rolls and
saving throws and is weakened (save ends all).</p>
<p>You make disparaging remarks regarding the attractiveness and occupation
of your enemy&#39;s mother, sister, and/or wife. He begins to weep openly.</p>
<p>Demoralize V</p>
<p>120</p>
<p>Alteration</p>
<p>Alteration 60, Demoralize IV</p>
<p>Make an attack vs. Will against each enemy you can see within your
Alteration range. Each enemy hit takes a -5 penalty to attack rolls and
saving throws and is weakened and dazed (save ends all).</p>
<p>You touch upon your enemy&#39;s childhood traumas, calling forth deep,
repressed memories. He is reduced to a quivering, sobbing mass.</p>
<p>Disorient</p>
<p>60</p>
<p>Alteration</p>
<p>Alteration 25</p>
<p>Make an attack vs. Will against one creature within your Alteration
range. If it hits, the creatures is dazed and confused (save ends both).</p>
<p>The brainwaves of an inept mind are so easy to hinder.</p>
<p>Disrupt</p>
<p>70</p>
<p>Meta</p>

<p>End one conjuration you are adjacent to, or end the effects of a spell
on a creature you are adjacent to.</p>
<p>You use your magical energy to force another&#39;s to desist.</p>
<p>Domination</p>
<p>120</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>Make an attack vs. Will against one creature you can see within your
Alteration Range. If the attack hits, you dominate the creature (save
ends) You can only dominate one creature at a time with this power.</p>
<p>You enter your enemy&#39;s mind and you own it.</p>
<p>Drain Life</p>
<p>90</p>
<p>Restoration</p>
<p>Restoration 40</p>
<p>Make an attack vs. Fortitude against one living creature you can see
within your Restoration range. If the attack hits, the target takes
damage equal to 1d4 times your Restoration modifier. Regain hit points
equal to twice the amount of damage dealt.</p>
<p>You pull the life out of your enemies, using it to replenish your own
health.</p>
<p>Drain Magic</p>
<p>0</p>
<p>Meta</p>

<p>Make an attack vs. Will against one creature you can see within your
school range. If the attack hits, the target loses 20 magic points (miss
10). You regain magic points equal to the amount lost.</p>
<p>You leech magical energy off your enemies to replenish your own depleted
stores.</p>
<p>Empulse I</p>
<p>40</p>
<p>Destruction</p>

<p>Make an attack vs. Reflex against each creature within two squares of
you. All creatures hit are knocked prone or pushed back 2 squares
(caster’s choice).</p>
<p>A burst of energy explodes from you, knocking your foes off balance.</p>
<p>Empulse II</p>
<p>60</p>
<p>Destruction</p>
<p>Empulse I</p>
<p>Make an attack vs. Reflex against each creature within three squares of
you. All creatures hit are knocked prone or pushed back 2 squares
(caster’s choice).</p>
<p>You unleash a whirlwind of energy, usurping the battlefield.</p>
<p>Empulse III</p>
<p>80</p>
<p>Destruction</p>
<p>Empulse II</p>
<p>Make an attack vs. Reflex against each creature within four squares of
you. All creatures hit are knocked prone or pushed back 3 squares
(caster’s choice).</p>
<p>They don’t always listen when you say get down…</p>
<p>Enlarge</p>
<p>60</p>
<p>Alteration</p>

<p>One non-living, non-enlarged object you are touching grows to 5 times
its size. The weight of the object is unchanged. This spell takes 3
rounds (18 seconds) to cast, and you must be touching the object for the
entire duration. The object stays grown for 24 hours or until this
effect is removed.</p>
<p>“Are you sure size doesn’t matter?”</p>
<p>Expert Scream</p>
<p>175</p>
<p>Destruction</p>
<p>Destruction 70, Improved Scream</p>
<p>Make an attack vs. Will close blast 2, targeting all creatures. Each
creature hit suffers a -5 to attack rolls (Save ends) and takes damage
equal to 1d6 times your Destruction modifier.</p>
<p>A wave of energy erupts from your mouth, knocking everyone nearby off
balance.</p>
<p>Fireballs</p>
<p>50</p>
<p>Destruction</p>

<p>Make an attack vs. Reflex against one or two creatures you can see
within your Destruction range. Each creature hit takes fire damage equal
to 1d6 times your Destruction modifier.</p>
<p>An orb of fire appears in your hand, then shoots off to find its target.</p>
<p>Firewave</p>
<p>225</p>
<p>Destruction</p>
<p>Destruction 70</p>
<p>Make an attack vs. Reflex against each creature close blast 5. Each
creature hit takes fire damage equal to 1d6 times your Destruction
modifier.</p>
<p>A wave of fire consumes the land… and your enemies with it.</p>
<p>Frost</p>
<p>45</p>
<p>Destruction</p>
<p>Destruction 20</p>
<p>Make an attack vs. Fortitude against each creature within your
Destruction range. Each creature hit is slowed (save ends).</p>
<p>You pull from the heal of the air, chilling the ground, and all who come
near.</p>
<p>Greater Conjure Wings</p>
<p>120</p>
<p>Conjuration</p>
<p>Conjuration 70, Conjure Wings</p>
<p>You grow wings and gain flight equal to (2 + your movement) until the
end of your next turn (sustain 50). As long as you sustain, you do not
have to land at the end of your turn.</p>
<p>Beautiful wings sprout from your back, inspiring awe.</p>
<p>Heal</p>
<p>70</p>
<p>Restoration</p>

<p>You or an adjacent ally regains hit points equal to (5 times your
Restoration modifier).</p>
<p>Your gentle touch mends cuts, bruises and bones.</p>
<p>Healing Fountain</p>
<p>150</p>
<p>Restoration</p>
<p>Restoration 40, Heal</p>
<p>You and all allies within three squares of you regain hit points equal
to (5 times your Restoration modifier).</p>
<p>A soft white light emanates from you as you summon magical energy to aid
the wounded.</p>
<p>Illuminate</p>
<p>15</p>
<p>Conjuration</p>

<p>You create a bright light within your Conjuration range. This light
brightly illuminates everything within 5 squares of it (sustain 8).</p>
<p>This is no place to be alone with the darkness.</p>
<p>Improved Barrier</p>
<p>120</p>
<p>Conjuration</p>
<p>Conjuration 40, Barrier</p>
<p>You gain resist 15 damage to all melee attacks (sustain 50)</p>
<p>“Nunchucks? Where’d this joker get nunchucks?!”</p>
<p>Improved Battle Focus</p>
<p>120</p>
<p>Restoration</p>
<p>Restoration 50, Battle Focus</p>
<p>While this effect lasts, you and all allies within your Restoration
Range gain the following effects: +2 to attack and saving throws,
increase damage die by 1, and regeneration five (Sustain 50)</p>
<p>Directing your energy into guiding your allies, the rest of the world
fades away.</p>
<p>Improved Cleanse</p>
<p>50</p>
<p>Restoration</p>
<p>Restoration 30, Cleanse</p>
<p>Remove all status effects from yourself or one creature within your
Restoration range.</p>
<p>“Well it’s no Açai Berry, but it’s the best I’ve got.”</p>
<p>Improved Heal</p>
<p>120</p>
<p>Restoration</p>
<p>Restoration 50, Heal</p>
<p>You or an ally within your Restoration range regains hit points equal to
(5 times your Restoration modifier)</p>
<p>“I thought I told you to stand back up and fight!”</p>
<p>Improved Healing Fountain</p>
<p>200</p>
<p>Restoration</p>
<p>Restoration 50, Healing Fountain, Improved Heal</p>
<p>You and all allies within your Restoration Range regain hit points equal
to (5 times your Restoration modifier)</p>
<p>“Regroup, we’ve got work to do!”</p>
<p>Improved Magic Drain</p>
<p>0</p>
<p>Meta</p>
<p>[Meta] 40, Drain Magic</p>
<p>Make an attack vs. Will against one creature you can see within your
school range. If the attack hits, the target loses 40 magic points (miss
20). You regain magic points equal to the amount lost.</p>
<p>Why empower yourself when you can disable a spellcaster AND empower
yourself?</p>
<p>Improved Mass Deafen</p>
<p>75</p>
<p>Destruction</p>
<p>Destruction 40, Mass Deafen</p>
<p>Make an attack vs. will against each creature within your Destruction
range. Each creature hit is deafened (save ends).</p>
<p>No one knows how long the sound continued for; they couldn’t hear once
it started.</p>
<p>Improved Pooling</p>
<p>60</p>
<p>Meta</p>
<p>[Meta] 30, Pooling Health</p>
<p>For the next 5 rounds, all of your magic spells take 40% of their cost
from your magic total, and 40% from your hit point total (round down for
both). The total will be 80% of the spells’ cost.</p>
<p>You see clearly how wasteful casters can be, and avoid their pitiful
mistakes.</p>
<p>Improved Revitalize</p>
<p>225</p>
<p>Restoration</p>
<p>Restoration 50, Revitalize</p>
<p>All dying allies within your Restoration range are stabilized and gain
5% of their full hit points.</p>
<p>“You stand when I tell you to stand, and right now I’m telling you to
FIGHT!”</p>
<p>Improved Scream</p>
<p>100</p>
<p>Destruction</p>
<p>Destruction 40, Scream</p>
<p>Make an attack vs. Will close blast 5, targeting all creatures. Each
creature hit suffers a -2 to attack rolls (Save ends) and takes damage
equal to 1d6 times your Destruction modifier.</p>
<p>
“AAAAARRRRGH!”</p>
<p>Improved Throw Weapon</p>
<p>90</p>
<p>Destruction</p>
<p>Destruction 40, Throw Weapon, Must be wielding a melee weapon</p>
<p>Make an attack vs. Reflex against one creature that is between five and
ten squares away from you. Roll 1d6 times your Destruction modifier for
damage. You may repeat the attack against an additional target within 5
squares of the primary target, and once more against a different target
within five squares of the secondary target, for a total of up to three
attacks. The damage is the same for every attack. The weapon returns to
your hand after the final attack.</p>
<p>After careful aim, a weapon flies towards its mark, striking true.</p>
<p>Infection</p>
<p>40</p>
<p>Destruction</p>
<p>Destruction 30, Slow</p>
<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If the attack hits, the creature is affected by
a horrendous poison. While affected, the character is slowed, and takes
ongoing poison damage equal to 2 + your Destruction modifier (save ends
both). Each failed saving throw incurs a cumulative -1 to save, for
maximum of -5.</p>
<p>Pestilence bursts forth from you, causing great leaking boils and
pustules to form on the bodies of your enemies.</p>
<p>Injure</p>
<p>80</p>
<p>Destruction</p>

<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If the attack hits, the creature takes ongoing
damage equal to half your Destruction score (save ends).</p>
<p>Tearing flesh, bones, and organs, you cause your foes to writhe in pain.</p>
<p>Inspire Allies I</p>
<p>90</p>
<p>Restoration</p>

<p>While this effect persists, you and all allies within five squares of
you who can hear you gain a +1 bonus to attack rolls, saving throws, and
damage multiplier. (sustain 45).</p>
<p>You mumble something nice at your allies.</p>
<p>Inspire Allies II</p>
<p>120</p>
<p>Restoration</p>
<p>Restoration 40, Inspire Allies I</p>
<p>While this effect persists, you and all allies within five squares of
you who can hear you gain a +2 bonus to attack rolls, saving throws, and
damage multiplier. (sustain 55)</p>
<p>You take the time to tell you allies how much you appreciate all their
hard work.</p>
<p>Inspire Allies III</p>
<p>150</p>
<p>Restoration</p>
<p>Restoration 40, Inspire Allies II</p>
<p>While this effect persists, you and all allies within five squares of
you who can hear you gain a +3 bonus to attack rolls, saving throws, and
damage multiplier. . (sustain 70)</p>
<p>You shout encouragement to your allies, giving them a confidence boost.</p>
<p>Inspire Allies IV</p>
<p>180</p>
<p>Restoration</p>
<p>Restoration 50, Inspire Allies III</p>
<p>While this effect persists, you and all allies within five squares of
you who can hear you gain a +4 bonus to attack rolls, saving throws, and
damage multiplier. (sustain 85)</p>
<p>Carefully crafted sentences spill from you, giving your allies the will
to fight onward.</p>
<p>Inspire Allies V</p>
<p>210</p>
<p>Restoration</p>
<p>Restoration 50, Inspire Allies IV</p>
<p>While this effect persists, you and all allies within five squares of
you who can hear you gain a +5 bonus to attack rolls, saving throws, and
damage multiplier. (sustain 100)</p>
<p>Pure poetry flies forth from your lips, bolstering your allies and
filling them with the power to keep fighting and defend their beliefs.</p>
<p>Inspire Fear</p>
<p>90</p>
<p>Alteration</p>

<p>Make an attack vs. Will against one creature you can see within your
Alteration range. If the attack hits, the target cannot attack you until
the end of your next turn.</p>
<p>A revolting creature of horrific proportions, slathering, angry, oozing,
and filthy, appears in front of your enemies. They cry out in fear as
they realize this creature is you.</p>
<p>Inspire Terror</p>
<p>120</p>
<p>Alteration</p>
<p>Alteration 40, Inspire Fear</p>
<p>Make an attack vs. Will against one creature you can see within your
Alteration range. If the attack hits, the target cannot attack until the
end of your next turn.</p>
<p>Fear. So powerful, so easy to instill.</p>
<p>Invisibility</p>
<p>80</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>You cannot be seen by creatures and gain a +10 to perception checks
regarding being seen. Creatures using Echolocation are not affected
(Sustain Standard).</p>
<p>Why not…fade away?</p>
<p>Lesser Heal</p>
<p>40</p>
<p>Restoration</p>

<p>You or an adjacent ally regains 5 hit points.</p>
<p>“Am I going to need a scalpel for this?”</p>
<p>Lifeforce Magic</p>
<p>0</p>
<p>Meta</p>

<p>As a minor action you may expend a number of hit points less than or
equal to your school score to regain that many magic points.</p>
<p>You know what makes me a better spellcaster? Resource management.</p>
<p>Lightning Bolts</p>
<p>75</p>
<p>Destruction</p>
<p>Destruction 30, Shock</p>
<p>Make an attack vs. Reflex against each creature in close blast 3. Each
creature hit takes damage equal to 1d6 times your Destruction modifier
(miss half damage)</p>
<p>“We’ve got nature on our side. What’ve you got?”</p>
<p>Lightning Storm</p>
<p>120</p>
<p>Destruction</p>
<p>Destruction 50, Lightning Bolts</p>
<p>Make an attack vs. Reflex against each creature area burst 1 within 10.
Each creature hit takes electrical damage equal to 1d6 times your
Destruction modifier, and is dispelled until the end of your next turn
(Miss: half damage, no effects).</p>
<p>“Sorry, Grog, it’s hard to aim the cosmos!”</p>
<p>Maelstrom of Shards</p>
<p>80</p>
<p>Conjuration</p>
<p>Conjuration 30</p>
<p>Make an attack vs Reflex against one creature within half your
Conjuration Range. If hit, the creature takes 1d6 times your Conjuration
modifier and its space, along with each square adjacent to its space are
filled with jagged shards until the end of your next turn. Any creature
that enters into the shards or starts its turn there takes damage equal
to your Conjuration Modifier.</p>
<p>“You’re going to want to plan your next steps <em>very</em> carefully.”</p>
<p>Magic Affinity</p>
<p>30</p>
<p>Meta</p>

<p>You regain an extra ten magic points at the start of your turn (sustain
minor)</p>
<p>The candle that burns half as fast is the same candle that is going to
kill you.</p>
<p>Maim</p>
<p>350</p>
<p>Destruction</p>
<p>Destruction 80, Choke</p>
<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If the attack hits, the creature takes damage
equal to (half of its remaining hit points -5). This power automatically
kills minions. (Miss: half your Destruction score damage).</p>
<p>“If you’d like your other arm, then stand back.”</p>
<p>Mass Cleanse</p>
<p>70</p>
<p>Restoration</p>
<p>Restoration 50, Improved Cleanse</p>
<p>Remove all status effects from yourself and all allies within your
Restoration range.</p>
<p>“PUUURRGE!”</p>
<p>Mass Deafen</p>
<p>45</p>
<p>Destruction</p>

<p>Make an attack vs. Will against each creature within 3 squares of you.
Each creature hit is deafened until the end of your next turn.</p>
<p>A bang erupts from you, disorienting your foes.</p>
<p>Mass Inspire Fear</p>
<p>150</p>
<p>Alteration</p>
<p>Alteration 40, Inspire Terror</p>
<p>Make an attack vs. Will against each enemy within five squares of you.
Each creature hit cannot attack you until the end of your next turn.
(Sustain 20 points per target affected).</p>
<p>Nightmares have nothing on me.</p>
<p>Mass Inspire Terror</p>
<p>200</p>
<p>Alteration</p>
<p>Alteration 50, Mass Inspire Fear</p>
<p>Make an attack vs. Will against each enemy within five squares of you.
Each target hit cannot attack until the end of your next turn. (Sustain
40 points per target affected).</p>
<p>They can’t attack what they’re afraid to touch.</p>
<p>Master Barrier</p>
<p>150</p>
<p>Conjuration</p>
<p>Conjuration 50, Improved Barrier</p>
<p>You gain resist 20 to all melee attacks (sustain 90)</p>
<p>Blows of combat glance off you, and you chuckle at the men who tried to
fight you with steel.</p>
<p>Master Battle Focus</p>
<p>150</p>
<p>Restoration</p>
<p>Restoration 80, Improved Battle Focus</p>
<p>While this effect lasts, you and allies within your Restoration Range
gain the following effects: a +4 bonus to attack rolls and saving
throws, +1 damage multiplier, and regeneration 10. (sustain 80)</p>
<p>“I’ll take the 30,000 on the left…”</p>
<p>Master Heal</p>
<p>250</p>
<p>Restoration</p>
<p>Restoration 80, Improved Heal</p>
<p>You or one ally within your Restoration range regains hit points equal
to your Restoration score. The target may also make a saving throw.</p>
<p>“What injuries?”</p>
<p>Master Healing Fountain</p>
<p>325</p>
<p>Restoration</p>
<p>Restoration 90, Improved Healing Fountain, Master Heal</p>
<p>You and each ally within 5 squares of you regain hit points equal to
your Restoration score and can make a saving throw.</p>
<p>“Get back in there, we have a battle to win!”</p>
<p>Master Magic Drain</p>
<p>0</p>
<p>Meta</p>
<p>[Meta] 50, Improved Magic Drain</p>
<p>Make an attack vs. Will against all enemies you can see within 2 squares
of you. If the attack hits, the target loses 60 magic points (miss 30).
You regain magic points equal to half of the total amount lost.</p>
<p>Power is just waiting to be taken…</p>
<p>Master Pooling</p>
<p>125</p>
<p>Meta</p>
<p>[Meta] 80, Improved Pooling</p>
<p>For the next 5 rounds, all powers take 30%of their cost from your hit
points, and 30%from your magic points, resulting in a total of only 60%
cost.</p>
<p>Resourcefulness has always been your greatest asset.</p>
<p>Master Revitalize</p>
<p>300</p>
<p>Restoration</p>
<p>Restoration 90, Improved Revitalize</p>
<p>All dying allies within your Restoration range are stabilized and regain
10% of their total hit points (round up).</p>
<p>Death is optional. And you choose no.</p>
<p>Paramount Speed</p>
<p>250</p>
<p>Alteration</p>
<p>Alteration 80, Superior Speed</p>
<p>You gain a +4 bonus to all defenses, your movement is multiplied by 2,
and you gain an additional standard action on your turn (Sustain 150).</p>
<p>You become a blur of motion, a frenzied whirlwind of speed.</p>
<p>Permafrost</p>
<p>35</p>
<p>Conjuration</p>

<p>You create a thin layer of ice over every square within 3 squares of
you. Every creature who moves onto or through this ice must make a
saving throw to avoid being knocked prone. (sustain 15). Note that this
does not need to be made for every square if multiple are crossed.</p>
<p>If you can’t beat ‘em, knock ‘em down.</p>
<p>Pestilence</p>
<p>50</p>
<p>Destruction</p>

<p>You create a zone area burst three centered within your Destruction
range. Each creature that starts its turn in this zone or moves into
takes damage equal to your Destruction modifier (Sustain 30).</p>
<p>“LET MY PEOPLE GO!”</p>
<p>Phasing</p>
<p>50</p>
<p>Alteration</p>

<p>You or a creature or object you are touching gains phasing and becomes
intangible. If the target is an object, you determine which objects the
target does and does not pass through (sustain 30).</p>
<p>“Catch”</p>
<p>Plague</p>
<p>300</p>
<p>Destruction</p>
<p>Destruction 80, Infection</p>
<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If the attack hits, the creature is affected by
a strong poison. While affected, the creature is slowed, takes ongoing
damage equal to your Destruction modifier, and suffers from a -1 to all
die rolls (sustain standard). The target may attempt save from the
effect, but starts with a -2 penalty to saving throws against it. Each
time the target fails a saving throw, the penalty to die rolls increases
by one. This penalty will also apply to the saving throw penalty.</p>
<p>Green boils appear and burst, disorienting the target. Then the wheezing
starts.</p>
<p>Pooling Health</p>
<p>50</p>
<p>Meta</p>

<p>For the next 5 rounds, all of your magic powers take half of their cost
from your magic total, and half from your hit point total</p>
<p>Wars have costs. Surviving is more important than surviving intact.</p>
<p>Potent Healing</p>
<p>75</p>
<p>Meta</p>

<p>Until the end of the encounter, or until you end the effect as a minor
action, your Restoration powers cost 20% more points to cast, and
restore (2 times your Restoration modifier) more hit points.</p>
<p>“We will survive this fight, I will ensure it!”</p>
<p>Potent Magic</p>
<p>75</p>
<p>Meta</p>

<p>Until the end of the encounter, or until you end the effect as a minor
action, your Destruction powers cost 20%more points to cast, and do [2
times your Destruction modifier] more damage</p>
<p>“I’m going to make this hurt.”</p>
<p>Pulse</p>
<p>15</p>
<p>Destruction</p>

<p>One creature within 10 squares of you takes damage equal to your
Destruction modifier. You do not have to make an attack roll.</p>
<p>You strike out with the simplest thing you know: A simple probe of
light.</p>
<p>Push</p>
<p>90</p>
<p>Destruction</p>
<p>Destruction 40</p>
<p>Make an attack vs. Reflex against one creature you can see within your
Destruction range. If the attack hits, the creature takes energy damage
equal to your half your Destruction score, is pushed 3 squares, and is
dazed until the end of your next turn.</p>
<p>Energy bursts from within you, knocking your enemy back.</p>
<p>Quell</p>
<p>30</p>
<p>Meta</p>
<p>[Meta] 20</p>
<p>Make an attack vs. Will against one creature within your school range.
If the attack hits, the target is dispelled (save ends).</p>
<p>“Stop.”</p>
<p>Read Object</p>
<p>45</p>
<p>Conjuration</p>
<p>Conjuration 20</p>
<p>When you touch an object, you become aware of every person and thing
that has come in contact with that object in the last [your Conjuration
modifier] hours.</p>
<p>Memories flow through you, you feel as the table felt, you see what it
saw.</p>
<p>Reflect</p>
<p>55</p>
<p>Restoration</p>
<p>Restoration 40</p>
<p>Target you or an adjacent ally. Until the end of your next turn, the
target takes half damage from attacks, and any creature that attacks the
target takes half of the damage inflicted to the target.</p>
<p>I can’t heal you, but I may not have to.</p>
<p>Reincarnate</p>
<p>300</p>
<p>Restoration</p>
<p>Restoration 40</p>
<p>You restore one creature that has died within (your Restoration
modifier) days back to life with (your Restoration score) percent of its
total hit points.</p>
<p>“Did I say it was nap time?”</p>
<p>Relinquish</p>
<p>30</p>
<p>Alteration</p>

<p>One lock, bond, restraining device, or security terminal that you are
touching opens, breaks, or unlocks the associated door.</p>
<p>No prison can hold me!</p>
<p>Reversal</p>
<p>150</p>
<p>Alteration</p>
<p>Alteration 50</p>
<p>Target one creature within your Alteration range. Whenever the target
deals damage before the end of your next turn, the target also takes
that damage.</p>
<p>Unhappy with the results, you reverse time itself, nullifying the last
few seconds.</p>
<p>Revitalize</p>
<p>120</p>
<p>Restoration</p>
<p>Restoration 30</p>
<p>One dying ally adjacent to you is stabilized and restored to 10% of
their total hit points.</p>
<p>“Permission to die: denied.”</p>
<p>Scream</p>
<p>60</p>
<p>Destruction</p>

<p>Make an attack vs. Will blast 2, targeting all creatures. Each creature
hit takes damage equal to 1d6 times your Destruction modifier and
suffers a -2 to attack rolls until the end of your next turn.</p>
<p>A deep call erupts from your throat, striking those around you.</p>
<p>Shield</p>
<p>120</p>
<p>Conjuration</p>
<p>Conjuration 30, Aura</p>
<p>You or one ally within your Conjuration range of you gains a bonus to
all defenses and saving throws equal to your Conjuration modifier
(sustain 60)</p>
<p>“Stop. Hitting. Me!”</p>
<p>Shock</p>
<p>40</p>
<p>Destruction</p>

<p>Make an attack vs. Reflex against one creature you can see within your
Destruction range. If the attack hits, the creature takes electrical
damage equal to 1d6 times your Destruction modifier damage (miss half
damage).</p>
<p>A small bolt of lightning dances from your fingertips.</p>
<p>Shrink</p>
<p>60</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>One non-living, non-shrunk object you are touching shrinks to 1/5 its
size. The weight of the object is unchanged. This spell takes 3 rounds
(18 seconds) to cast, and you must be touching the object for the entire
duration. The object stays shrunk for 24 hours or until this effect is
removed.</p>
<p>“How does that make you feel?”</p>
<p>Sight</p>
<p>50</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>Living creatures (including plants) within 10 squares of you appear to
glow brightly and cannot benefit from cover, concealment, or
invisibility from you. (They can still benefit from these effects where
other creatures are concerned) You also gain a + 5 bonus to perception
while this power is active (sustain 30).</p>
<p>You ignore the physical barriers of this world, seeing things as they
truly are.</p>
<p>Silence</p>
<p>80</p>
<p>Meta</p>
<p>[Meta] 20</p>
<p>Make an attack vs. Will against one creature you can see within your
school Range. If the attack hits, the creature cannot cast any spells
until the end of your next turn.</p>
<p>You cease the ramblings and chanting of your foes.</p>
<p>Slow</p>
<p>30</p>
<p>Destruction</p>

<p>Make an attack vs. Fortitude against one creature you can see within
your Destruction range. If the attack hits, the creature is affected by
a weak poison. While affected, the creature is slowed and suffers from a
-2 penalty to attack rolls (save ends both).</p>
<p>You weaken your enemy’s body, starting on the inside, causing their
muscles to groan under their weight.</p>
<p>Speed Burst</p>
<p>75</p>
<p>Alteration</p>

<p>You gain a +2 bonus to all defenses, and your movement is multiplied by
2 (sustain 40)</p>
<p>You can move faster than one thought possible.</p>
<p>Stasis</p>
<p>175</p>
<p>Alteration</p>
<p>Alteration 40, Stun</p>
<p>Make an attack vs. Will against one creature you can see within your
Alteration range. If the attack hits, the creature is stunned (save
ends). If the attack misses, the target is slowed (save ends).</p>
<p>“STOP!”</p>
<p>State Change</p>
<p>200</p>
<p>Alteration</p>
<p>Alteration 80</p>
<p>You can change the physical state (solid, liquid gas) of one non-living
item you can touch. This spell takes one minute to cast, and you must be
constantly touching the item for the entire time. (Sustain 75). You do
not have to be touching the item to sustain.</p>
<p>Magic? Magic is just applied physics.</p>
<p>Stun</p>
<p>125</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>Make an attack vs. Will against one creature you can see within your
Alteration range. If the attack hits, the creature is stunned until the
end of your next turn. If the attack misses, the target is slowed until
the end of your next turn.</p>
<p>“Really, that’s close enough.”</p>
<p>Summon Ally I</p>
<p>80</p>
<p>Conjuration</p>

<p>You summon a small creature with hit points and attributes equal to your
Conjuration score, and defenses equal to 10 + your conjuration modifier.
You can choose to give the creature commands on your turn. Each command
you give costs the corresponding action i.e., telling the creature to
move costs your move action, telling it to attack costs your standard
action. The creature has a base unarmed attack of 1d4 (Sustain 30).</p>
<p>“I get by.”</p>
<p>Summon Ally II</p>
<p>100</p>
<p>Conjuration</p>
<p>Conjuration 40, Summon Ally</p>
<p>You summon a small creature with hit points and attributes equal to 5+
your Conjuration score, and defenses equal to 12 + your conjuration
modifier. You can choose to give the creature commands on your turn.
Each command you give costs the corresponding action i.e., telling the
creature to move costs your move action, telling it to attack costs your
standard action. The creature has a base unarmed attack of 1d6 (Sustain
40).</p>
<p>“…With a little help.”</p>
<p>Summon Ally III</p>
<p>120</p>
<p>Conjuration</p>
<p>Conjuration 50, Summon Ally II</p>
<p>You summon a small or medium creature with hit points and attributes
equal to your 10 + Conjuration score, and defenses equal to 15 + your
conjuration modifier. The creature takes its turn in imitative
immediately after you. The creature has a base unarmed attack of 1d6
(Sustain 50).</p>
<p>“…From my friends.”</p>
<p>Summon Bigger Fish</p>

<p>80</p>
<p>Conjuration</p>

<p>If there is a creature within your Conjuration range that was not
summoned by this spell, you may summon within your Conjuration range a
creature of the same species that is large enough to eat the previous
creature. Creatures summoned by this spell are not under your control
and cannot be dominated. Additionally, these creatures count as having
been teleported here, and do not disappear when you fall unconscious.</p>
<p>“There’s always a bigger fish.”</p>
<p>Summon Minion</p>
<p>175</p>
<p>Conjuration</p>
<p>Conjuration 30</p>
<p>You summon a small creature with one hit point and defenses equal to 10+
your Conjuration modifier. While this creature exists, you cannot be
targeted with an attack that does not also include this creature. As a
move action you can move the creature a number of squares equal to your
movement. As a standard action you can make a melee attack through the
creature, using your Unarmed Combat score. The creature must remain
within your Conjuration range relative to you at all times (sustain 60)</p>
<p>The bigger they are, the more loyal their subordinates are.</p>
<p>Sunder</p>
<p>175</p>
<p>Destruction</p>

<p>You create a number of holes or cracks totaling no more than 35 cubic
feet in volume in an object you are touching. This spell takes three
rounds (18 seconds) to cast, and you must be constantly touching the
object for the duration of the spell.</p>

<p>“This dam’s just for show, right?”</p>
<p>Superior Speed</p>
<p>150</p>
<p>Alteration</p>
<p>Alteration 30, Speed Burst</p>
<p>You gain a +4 bonus to all defenses, and your movement is multiplied by
2 (Sustain 80)</p>
<p>“Try to hit me… I dare you.”</p>
<p>Suppression</p>
<p>150</p>
<p>Meta</p>
<p>[Meta] 40</p>
<p>Make an attack vs. Will against one creature you can see within your
Alteration range. If the attack hits, you may end all auras or magical
effects on the target and its equipment.</p>
<p>“How about we fight <em>without</em> the magic?”</p>
<p>Teleport</p>
<p>60</p>
<p>Alteration</p>
<p>Alteration 30</p>
<p>You teleport a number of squares equal to your Alteration modifier. This
spell takes a move action to cast.</p>
<p>Now you see me…</p>
<p>Tempest</p>
<p>300</p>
<p>Destruction</p>
<p>Destruction 80, Whirlwind</p>
<p>Make an attack vs. Reflex against each enemy within 3 squares of you.
Each target hit takes damage equal to your Destruction score, is pushed
3 squares, knocked prone, and stunned until the end of your next turn.
If an attack misses, the target takes half damage, and no other effects.</p>
<p>Lie down and acknowledge my power!</p>
<p>Throw Weapon</p>
<p>80</p>
<p>Destruction</p>
<p>Must be wielding melee weapon</p>
<p>Make an attack vs. Reflex against one creature that is between 2-5
squares away from you. Roll 1d6 times your Destruction modifier for
damage. The weapon returns to your hand after the attack.</p>
<p>No one expects a flying sword.</p>
<p>Whirlwind</p>
<p>150</p>
<p>Destruction</p>
<p>Destruction 40, Push</p>
<p>Make an attack vs. Reflex against one creature you can see within your
Destruction range. If the attack hits, the creature takes energy damage
equal to your Destruction score, and is stunned until the end of your
next turn.</p>
<p>“I’ll tell you my master plan. But first, let’s make sure you can’t do
anything about it.”</p>
<p>Wreckage Zephyr</p>
<p>70</p>
<p>Conjuration</p>
<p>Conjuration 40</p>
<p>Make an attack vs Reflex against each creature close blast (half your
Conjuration Modifier). Each creature hit takes 1d6 times your
Conjuration Modifier.</p>
<p>I’m not sure the game designers know what “Zephyr” means.</p>
<p><img src="Solipstry_html_m7baf6ac5.jpg" alt="">
</p>

  </ion-content>
</ion-view>
