<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solipstry: A New Approach to Roleplaying Games</title>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
	<link href="../font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="index" ng-app="solipstryApp" ng-controller="CharacterController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../index.html">Solipstry</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="../index.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#info">Basic Information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#attributes">Attributes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#talents">Talents</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#abilities">Abilities</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Basic Information -->
    <div id="info" class="container" style="padding-top:70px">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Information
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"placeholder="Character's Name" ng-model="name">
                    </div>
                    <label class="col-sm-1 control-label" tooltip-placement="bottom" uib-tooltip="{{'Small:\n+1 to Reflex\n+5 to Stealth\nOne damage die smaller\n\nMedium: No penalties or bonuses\n\nLarge:\n-1 to Reflex\n-5 to Stealth\nOne damage die higher'}}">Size</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-change="sizeChange()" data-ng-options="s for s in sizes" data-ng-model="size"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Class</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Class" ng-model="class">
                    </div>
                    <label class="col-sm-1 control-label">Race</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Race" ng-model="race">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Height</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Height" ng-model="height">
                    </div>
                    <label class="col-sm-1 control-label">Weight</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Weight" ng-model="weight">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Age</label>                    
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Age" ng-model="age">
                    </div>
                    <label class="col-sm-1 control-label">Occupation</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Occupation" ng-model="occupation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Aspiration</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Aspiration" ng-model="aspiration">
                    </div>
                    <label class="col-sm-1 control-label">Background</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Background" ng-model="background">
                    </div>
                </div>
                <div class="form-group row-dark">
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="1.5 * CON mod" >Hit Points: {{hp.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="3 + SPD mod">Movement: {{movement.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="SPD mod">Initiative Bonus: {{initiative.value}}</label>
                </div>
                <div class="form-group row-light">
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="5 * WIS score">Ability Points: {{ap.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="INT score">Ability Regen: {{apRegen.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="Enlightenment score">Enlightenment Points: {{ep.value}}</label>
                </div>
                <div class="form-group row-dark">
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="10 + CON mod">Fortitude: {{fort.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="{{'Heavy armor: 5 + the higher of SPD mod or DEX mod + 1/2 Heavy Armor mod\n\nLight armor: 10 + the higher of SPD mod or DEX mod'}}">Reflex: {{reflex.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="10 + WIS mod">Will: {{will.value}}</label>
                </div>
                <div class="form-group row-light">
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="LCK mod">Fortune Points: {{fp.value}}</label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="{{'Heavy armor: 12 + Heavy Armor mod + CON mod\n\nLight armor: 7 + the higher of SPD mod or DEX mod + Light Armor mod'}}">Armor Class: {{ac.value}}</label>
                </div>
                <div class="form-group row-dark">
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="{{'+1 to AC\n+5 to Block skill'}}">Use a shield? <input type="checkbox" ng-change="shieldChange()" ng-model="useShield"></label>
                    <label class="col-sm-3 control-label" tooltip-placement="top-right" uib-tooltip="Effects AC and Reflex">Armor Type:</label>
                    <label class="radio-inline"><input type="radio" name="armor-radio" ng-change="armorChange('Light')" value="Light" ng-model="armorType">Light</label>
                    <label class="radio-inline"><input type="radio" name="armor-radio" ng-change="armorChange('Heavy')" value="Heavy" ng-model="armorType">Heavy</label>
                </div>
                <div class="form-group row-light center">
                    <label class="control-label" tooltip-placement="top-right" uib-tooltip="Checking this will only show talents and abilities you meet the requirements for. Unchecking will show all talents and abilities.">Show only items you qualify for? <input type="checkbox" ng-model="showQualified"></label>
                </div>
            </div>
        </div>
    </div>

    <!-- Attributes -->
    <div id="attributes" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Attributes
            </div>
            <div ng-if="loading < 4" class="panel-body">
                Loading, please wait
            </div>
            <div ng-if="loading === 4" class="panel-body">
                <div ng-if="attributeHomebrewCount > 0" class="homebrew-warning center">This makes your character homebrewed!</div>
                <div ng-repeat="attr in attributes track by $index">
                    <div class="form-group">
                        <label class="col-sm-3 control-label {{attr.value < 10 || attr.value > 30 ? 'homebrew-warning' : ''}}"  tooltip-placement="top-left" uib-tooltip="{{attr.description + '\n\nGoverns: ' + attr.governs}}" uib-tooltip-class="tooltip-inner">{{attr.name}}</label>
                        <div class="col-sm-3">
                            <input type="number" ng-change="attributeChange({{attr.value}}, attr.name)" class="form-control {{attr.value < 10 || attr.value > 30 ? 'homebrew-warning' : ''}}" ng-model="attributes[$index].value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- Skills -->
    <div id="skills" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Skills
            </div>
            <div ng-if="loading < 4" class="panel-body">
                Loading, please wait
            </div>
            <div ng-if="loading === 4" class="panel-body">
                <div class="section-label center">Choose <strong>{{skillsRemaining}}</strong> skill{{skillsRemaining == 1 ? "" : "s"}} to gain a +15</div>
                <div ng-if="skillsRemaining < 0" class="homebrew-warning center">This makes your character homebrewed!</div>
                <div ng-repeat="skill in skills track by $index">
                    <div class="form-group">
                        <label class="col-sm-3 {{['row-light', 'row-dark'][$index%2]}}" tooltip-placement="top" uib-tooltip="{{skill.name + ':\n' + skill.description}}" uib-tooltip-class="tooltip-inner">
                            <input type="checkbox" ng-click="skillSelected($event, $index)" class="col-sm-1">
                            <span class="col-sm-1">{{skill.value}}</span><span class="col-sm-8">{{skill.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Talents -->
    <div id="talents" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Talents
            </div>
            <div ng-if="loading < 4" class="panel-body">
                Loading, please wait
            </div>
            <div ng-if="loading === 4" class="panel-body">
                <div class="section-label center">Choose <strong>{{talentsRemaining}}</strong> talent{{talentsRemaining == 1 ? "" : "s"}}</div>
                <div ng-if="talentsRemaining < 0" class="homebrew-warning center">You have taken too many talents</div>
                <div ng-if="homebrewTalents.length > 0" class="homebrew-warning center">
                    You do not qualify for the following talents:
                    <span ng-repeat="talent in homebrewTalents track by $index">
                        {{talent + ($index < homebrewTalents.length - 1 ? ',' : '')}}
                    </span>
                </div>
                <div ng-if="homebrewTalents.length > 0 || talentsRemaining < 0" class="homebrew-warning center">This makes your character homebrewed!</div>
                <div ng-repeat="talent in talents track by $index">
                    <div class="form-group">
                        <label ng-if="!showQualified || canTake(talent.name)" class="col-sm-3" tooltip-placement="top" uib-tooltip="{{talent.name + ':\n' + talent.description}}" uib-tooltip-class="tooltip-inner"><input type="checkbox" ng-click="talentSelected($event, $index)" class="col-sm-1"><span style="padding-left:1em">{{talent.name}}</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Abilities -->
    <div id="abilities" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Abilities
            </div>
            <div ng-if="loading < 4" class="panel-body">
                Loading, please wait
            </div>
            <div ng-if="loading === 4" class="panel-body">
                <div ng-if="(controlMax - controlTaken) < 0 || (destructionMax - destructionTaken) < 0 || (enhancementMax - enhancementTaken) < 0 || (utilityMax - utilityTaken) < 0" class="homebrew-warning center">You have taken too many abilities</div>
                <div ng-if="homebrewAbilities.length > 0" class="homebrew-warning center">
                    You do not qualify for the following abilities: 
                    <span ng-repeat="ability in homebrewAbilities track by $index">
                        {{ability + ($index < homebrewAbilities.length - 1 ? ',' : '')}}
                    </span>
                </div>
                <div ng-if="(controlMax - controlTaken) < 0 || (destructionMax - destructionTaken) < 0 || (enhancementMax - enhancementTaken) maining < 0 || (utilityMax - utilityTaken) < 0 || homebrewAbilities.length > 0" class="homebrew-warning center">This makes your character homebrewed!</div>
                <div class="col-sm-12 section-label center">Choose <strong>{{controlMax - controlTaken}} Control</strong> {{controlMax - controlTaken == 1 ? "ability" : "abilities"}}</div>
                <div ng-repeat="ability in abilities.control track by $index">
                    <div class="form-group">
                        <label ng-if="!showQualified || canTake(ability.name)" class="col-sm-3" tooltip-placement="top" uib-tooltip="{{ability.name + ':\n' + ability.effect + '\n\n' + ability.flavor}}" uib-tooltip-class="tooltip-inner">
                            <input type="checkbox" ng-click="abilitySelected($event, $index, 'control')" class="col-sm-1"><span style="padding-left:1em">{{ability.name}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 section-label center">Choose <strong>{{destructionMax - destructionTaken}} Destruction</strong> {{destructionMax - destructionTaken == 1 ? "ability" : "abilities"}}</div>
                <div ng-repeat="ability in abilities.destruction track by $index">
                    <div class="form-group">
                        <label ng-if="!showQualified || canTake(ability.name)" class="col-sm-3" tooltip-placement="top" uib-tooltip="{{ability.name + ':\n' + ability.effect + '\n\n' + ability.flavor}}" uib-tooltip-class="tooltip-inner">
                            <input type="checkbox" ng-click="abilitySelected($event, $index, 'destruction')" class="col-sm-1"><span style="padding-left:1em">{{ability.name}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 section-label center">Choose <strong>{{enhancementMax - enhancementTaken}} Enhancement</strong> {{enhancementMax - enhancementTaken == 1 ? "ability" : "abilities"}}</div>
                <div ng-repeat="ability in abilities.enhancement track by $index">
                    <div class="form-group">
                        <label ng-if="!showQualified || canTake(ability.name)" class="col-sm-3" tooltip-placement="top" uib-tooltip="{{ability.name + ':\n' + ability.effect + '\n\n' + ability.flavor}}" uib-tooltip-class="tooltip-inner">
                            <input type="checkbox" ng-click="abilitySelected($event, $index, 'enhancement')" class="col-sm-1"><span style="padding-left:1em">{{ability.name}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 section-label center">Choose <strong>{{utilityMax - utilityTaken}} Utility</strong> {{utilityMax - utilityTaken == 1 ? "ability" : "abilities"}}</div>
                <div ng-repeat="ability in abilities.utility track by $index">
                    <div class="form-group">
                        <label ng-if="!showQualified || canTake(ability.name)" class="col-sm-3" tooltip-placement="top" uib-tooltip="{{ability.name + ':\n' + ability.effect + '\n\n' + ability.flavor}}" uib-tooltip-class="tooltip-inner">
                            <input type="checkbox" ng-click="abilitySelected($event, $index, 'utility')" class="col-sm-1"><span style="padding-left:1em">{{ability.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <center>
        <input type="button" ng-click="submit()" class="btn btn-lg create-button" value="Create Character" />
        <p>You may need to allow popups from solipstry.com</p>
    </center>

    <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12a">
                    To report bugs or give feedback about the character creator, <a href="http://www.google.com/recaptcha/mailhide/d?k=01FHQqabBTTRS4Xfl1K9XyLA==&amp;c=KmSg-6S_eayexwlXEINnsSRY1WHpdmRsfDb0wywbyfM=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01FHQqabBTTRS4Xfl1K9XyLA\x3d\x3d\x26c\x3dKmSg-6S_eayexwlXEINnsSRY1WHpdmRsfDb0wywbyfM\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">contact us</a>
                </div>
                <div class="col-md-12">
                    <span class="copyright">&copy; Copyright <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>, Solipstry.</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/helper.js"></script>
    <script src="js/init.js"></script>
    <script src="js/solipstryApp.js"></script>
    <script src="js/CharacterController.js"></script>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
	<script>
	$(document).ready(function() {
		$('#navigation').load('../navbar.html');
	});

	</script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>

</body>

</html>
