<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solipstry: A New Approach to Roleplaying Games</title>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
	<link href="../font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="index" ng-app="solipstryApp">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Solipstry</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="../index.html#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../index.html#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../index.html#resources">Resources</a>
                    </li>
					<li>
                        <a class="page-scroll" href="../index.html#forum">Forum</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../index.html#newsletter">Newsletter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../index.html#contact">Contact</a>
                    </li>
					<li>
                        <a class="page-scroll" href="../index.html#faq">FAQ</a>
                    </li>
					<li>
                        <a class="page-scroll" href="../index.html#errata">Errata</a>
                    </li>
					<li>
                        <a class="page-scroll" href="../index.html#generators">Generators</a>
                    </li>	
                    <li>
                        <a>Character Creator</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Basic Information -->
    <div class="container" style="padding-top:70px" ng-controller="CharacterController">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Information
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control"placeholder="Character's Name" ng-model="name">
                    </div>
                    <label class="col-sm-1 control-label">Size</label>
                    <div class="col-sm-5">
                        <select class="form-control" data-ng-options="s  for s in sizes" data-ng-model="size"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Class</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Class" ng-model="class">
                    </div>
                    <label class="col-sm-1 control-label">Race</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Race" ng-model="race">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Height</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Height" ng-model="height">
                    </div>
                    <label class="col-sm-1 control-label">Weight</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Weight" ng-model="weight">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Age</label>                    
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Age" ng-model="age">
                    </div>
                    <label class="col-sm-1 control-label">Occupation</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Occupation" ng-model="occupation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Aspiration</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Aspiration" ng-model="aspiration">
                    </div>
                    <label class="col-sm-1 control-label">Background</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="Background" ng-model="background">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Attributes -->
    <div class="container" ng-controller="AttributeController">
        <div class="panel panel-default">
            <div class="panel-heading">
                Attributes
            </div>
            <div class="panel-body">
                <div ng-repeat="attr in attributes track by $index">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{attr.name}}</label>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="attributes[$index].value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <!-- Skills -->
    <div class="container" ng-controller="SkillController">
        <div class="panel panel-default">
            <div class="panel-heading">
                Skills
            </div>
            <div class="panel-body">
                <div ng-repeat="skill in skills track by $index">
                    <div class="form-group">
                        <label class="col-sm-3 {{['row-light', 'row-dark'][$index%2]}}">
                            <input type="checkbox" class="col-sm-1">
                            <span class="col-sm-1">{{skill.value}}</span><span class="col-sm-8">{{skill.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Talents -->
    <div class="container" ng-controller="TalentController">
        <div class="panel panel-default">
            <div class="panel-heading">
                Talents
            </div>
            <div class="panel-body">
                <div ng-repeat="talent in talents track by $index">
                   <div class="form-group">
                       <label class="col-sm-3 {{['row-light', 'row-dark'][$index%2]}}"><input type="checkbox" class="col-sm-1"><span style="padding-left:1em">{{talent.name}}</span></label>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Abilities -->
    <div class="container" ng-controller="AbilityController">
        <div class="panel panel-default">
            <div class="panel-heading">
                Abilities
            </div>
            <div class="panel-body">
                <div ng-repeat="ability in abilities track by $index">
                    <div class="form-group">
                        <label class="col-sm-3 {{['row-light', 'row-dark'][$index%2]}}"><input type="checkbox" class="col-sm-1"><span style="padding-left:1em">{{ability.name}}</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">&copy; Copyright <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>, Solipstry.</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/solipstryApp.js"></script>
    <script src="js/controllers/CharacterController.js"></script>
    <script src="js/controllers/AttributeController.js"></script>
    <script src="js/controllers/SkillController.js"></script>
    <script src="js/controllers/TalentController.js"></script>
    <script src="js/controllers/AbilityController.js"></script>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
	<script>
	$(document).ready(function() {
		$('#navigation').load('../navbar.html');
	});

	</script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>

</body>

</html>
