.row-dark {
    background-color: #efefef;
}

.row-light {
    background-color: #ffffff;
}

.section-label {
    padding-top: 1em;
    padding-bottom: 1em;
}

.center {
    text-align: center;
}

.homebrew-warning {
    color: red;
    font-weight: bold;
}

.tooltip-inner {
    white-space:pre-wrap;
    text-align: left;
}

.create-button {
    margin-bottom: 1em;
}